<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>

@*   <section class="content-wrapper main-content clear-fix">
        <h3>We have illustrated the following areas of the Online site to show how they coordinate with this API:</h3>
        <ol class="round">
            <li class="A">
                <h5>
                    <a href="~/home/order">Order</a>
                </h5>
                The Order must be created before any other process. It defines and identifies all
                forms of documents used in the cycle processing the payment plan. Once created, a response
                will include the order identity and a list of document with respective identity to
                be referenced in all actions that follow. Orders are either <strong>New</strong> or an <strong>Add-on</strong> to a current order.
                <a href="~/home/order">Learn more…</a>
            </li>

            <li class="B">
                <h5>
                    <a href="~/home/Document">Document</a>
                </h5>
                A document refers any Order form with its information and a person's signature that is stored for historical reference.
                <p>
                    Signatures are captured in one of three ways which is called the <i>routing</i>.
                    Our signature vender supports either a link within the application to capture the signature in person or a link sent
                    within an email to the person. Both routings result in a visually embedded signature within a data populated form. The third routing option
                    is to manually sign a printed data form which also requires a scan to be uploaded into the order.
                </p>

                <ol class="round">
                    <li class="one">
                        <h5>
                            <a href="~/home/Signatures">Signatures</a>
                        </h5>
                        Receive signature links for a given document.
                        <br />
                        Receive document signature history for a given document.
                        <br />
                        Resend signing notifications for a given document.
                        <a href="~/home/Signatures">Learn more…</a>
                    </li>
                    @*  <li class="two">
                            <h5>
                                <a href="~/home/DocumentsPDF">Documents PDF</a>
                            </h5>
                            Receive PDF documents for specified document.
                            <a href="~/home/DocumentsPDF">Learn more…</a>

                        </li>
    <li class="two">
        <h5>
            <a href="~/home/DocumentsUpload">Upload Document</a>
        </h5>
        Manual capture document image for specified document.
        <a href="~/home/DocumentsUpload">Learn more…</a>
    </li>
    </ol>
    </li>


    <li class="C">
        <h5>
            Order Form Templates
        </h5>
        @* &nbsp;*@
@* <ol class="round">
        <li class="one">
            <h5>
                <a href="~/home/CreditApproval">Credit Approval</a>
            </h5>
            Credit Approval forms are used to for running Credit Report results through an preliminary
            assessment process to qualify those seeking a plan solution.
            <a href="~/home/CreditApproval">Learn more…</a>
        </li>
        <li class="two">
            <h5>
                <a href="~/home/Application">Application</a>
            </h5>
            Application forms gather full detail used in the full assessment
            and underwriting for those seeking a plan solution.
            <a href="~/home/Application">Learn more…</a>
        </li>
        <li class="three">
            <h5>
                <a href="~/home/Contract">Contract or Sales PO</a>
            </h5>
            Contract form gather full detail used in the Sales Purchase Order
            agreement between the detailer and those seeking a plan solution.
            <a href="~/home/Application">Learn more…</a>
        </li>
        <li class="four">
            <h5>
                <a href="~/home/Assignment">Assignment</a>
            </h5>
            Assignment forms gather full detail used in...
            <a href="~/home/Assignment">Learn more…</a>
        </li>
        <li class="five">
            <h5>
                <a href="~/home/Cancellation">Cancellation Notice</a>
            </h5>
            Cancel Notice forms gather full detail used in...
            <a href="~/home/Cancellation">Learn more…</a>
        </li>
        <li class="six">
            <h5>
                <a href="~/home/CompletionCertificate">Completion Certificate</a>
            </h5>
            Completion Certificate forms gather full detail used in...
            <a href="~/home/CompletionCertificate">Learn more…</a>
        </li>
        <li class="seven">
            <h5>
                <a href="~/home/Survey">Survey</a>
            </h5>
            Survey forms gather full detail used in...
            <a href="~/home/Survey">Learn more…</a>
        </li>
    </ol>
    </li>
    </ol>
    </section>*@
