@*<script>
        var selected_doc_ref = "";
        function getPDF() {

            //selected_doc_ref = "395";

            var DV_pdf_path = "/ClientAPI - DataLayout.pdf";

            var pdf = document.getElementById("pdf");
            var clone = pdf.cloneNode(true);
            clone.setAttribute('src', DV_pdf_path);
            pdf.parentNode.replaceChild(clone, pdf)
        }
    </script>
*@

<header>
    <div id="header">
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>Welcome to Time Investment Company Inc. Data-Collection API!</h1>
                </hgroup>
                <br />
                <p>
                    Time Investment Company Data-Collection API allows you to upload Loan Origination/Application(s) directly over HTTP, eliminating the need for manual
                    data entry.
                </p>
            </div>
        </section>

        <div id="imageSample" class="content-wrapper main-content clear-fix">
            <p width: 100%>
                <img src="/APIimageSample.jpg" />
            </p>
        </div>
    </div>
</header>
@*
    <body onload="getPDF()">
        <embed id="pdf" style="border-radius: 10px;position: relative;top:0;right:0;left:0;bottom:0;width:100%;height:620px;" />
    </body>
*@
